<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>

    <link rel="stylesheet" href="carrinho.css">
</head>

<body>

    <section>
        <header>
            <div id="logo" style="display: flex;">

                <img src="/Sir.Vine/src/main/resources/static/icons/servine.png" alt="">

                <p class="sir">Sir. </p>
                <p class="vine">Vines</p>
            </div>

            <ul>
                <li>Catalogo</li>
                <li>Espumantes</li>
                <li>Vinhos</li>
                <li>Queijos</li>
            </ul>

            <div id="atalhos">

                <div id="itensCar">X</div>
                <img src="/Sir.Vine/src/main/resources/static/icons/lupa.svg" alt="">

                <img src="/Sir.Vine/src/main/resources/static/icons/carrinho.svg" alt="">


                <img src="/Sir.Vine/src/main/resources/static/icons/perfil.svg" alt="">

            </div>

        </header>

        <div id="infCar">
            <h1>Carrinho de compras</h1>
            <h2>X itens no carrinho</h2>
        </div>

        <div id="car">
            <div id="itens">

                <div class="prodCar">
                    <img src="/Sir.Vine/src/main/resources/static/img/espumante.webp" alt="">
                    <div class="infProdCaar">
                        <h4>Nome do Queijo</h4>
                        <p>Cidade, pais, ano</p>

                        <div class="tipoProd">
                            <p>Queijo</p>
                        </div>

                        <div class="quant"></div>
                    </div>
                </div>

            </div>

            <div id="infCompra">
                <h3>Resumo do pedido</h3>
                <table id="detalhes">
                    <tr>
                        <td class="prim">Preço</td>
                        <td>2025</td>
                    </tr>
                    <tr>
                        <td class="prim">Frete</td>
                        <td>2025</td>
                    </tr>
                </table>

                <hr>

                <table id="detalhes">
                    <tr>
                        <td>Total</td>
                        <td class="prim">2025</td>
                    </tr>

                </table>

                <button id="btnComprar" type="submit">Finalizar compra</button>


            </div>
        </div>

    </section>


</body>

</html>