<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificações do Produto</title>

    <link rel="stylesheet" th:href="@{/css/especificacoes.css}">
    <link rel="stylesheet" href="/Sir.Vine/src/main/resources/static/css/especificacoes.css">

</head>

<body>

    <section>
        <div id="especificacoes">
            <img th:src="${produto.img}" src="/Sir.Vine/src/main/resources/static/img/vinho.jpg" alt="">

            <div id="container">

                <div id="informacoes">

                    <div id="nome">
                        <h2 id="produto" th:text="${produto.nome}">nome</h2>

                        <div id="infPCLoc">
                            <h3 id="inf">[[${produto.cidade}]], [[${produto.pais}]] - [[${produto.ano}]]</h3>
                            <h4 id="pc">R$[[${produto.preco}]]</h4>
                        </div>
                    </div>

                    <hr>

                    <p id="desc" th:text="${produto.descricao}"></p>

                    <div id="tbEsp" style="display: flex;">

                        <table class="detalhes">
                            <tr>
                                <td>Ano: [[${produto.ano}]]</td>
                            </tr>
                            <tr>
                                <td>Cidade: [[${produto.cidade}]]</td>
                            </tr>
                            <tr>
                                <td>Pais: [[${produto.pais}]]</td>
                            </tr>
                            <tr>
                                <td>Estoque: [[${produto.estoque}]]</td>
                            </tr>
                        </table>

                        <table id="vinho" class="detalhes"
                            th:style="${tipo == 'vinho'} ? 'display: block;' : 'display: none;'">
                            <tr>
                                <td>Teor: [[${vinho.teor}]]%</td>
                            </tr>
                            <tr>
                                <td>Quantidade: [[${vinho.volume}]]ml</td>
                            </tr>
                            <tr>
                                <td>Uva: [[${vinho.uva}]]</td>
                            </tr>
                            <tr>
                                <td>Tipo: [[${vinho.tipo}]]</td>
                            </tr>
                        </table>

                        <table id="espuma" class="detalhes"
                            th:style="${tipo == 'espumante'} ? 'display: block;' : 'display: none;'">
                            <tr>
                                <td>Teor: [[${espumante.teor}]]%</td>
                            </tr>
                            <tr>
                                <td>Quantidade: [[${espumante.volume}]]ml</td>
                            </tr>
                            <tr>
                                <td>Pressão: [[${espumante.pressao}]]</td>
                            </tr>
                            <tr>
                                <td>Tipo: [[${espumante.tipo}]]</td>
                            </tr>
                        </table>

                        <table id="queijo" class="detalhes"
                            th:style="${tipo == 'queijo'} ? 'display: block;' : 'display: none;'">
                            <tr>
                                <td>Animal de leite: [[${queijo.leite}]]</td>
                            </tr>
                            <tr>
                                <td>Peso: [[${queijo.peso}]]g</td>
                            </tr>
                            <tr>
                                <td>Gordura: [[${queijo.gordura}]]%</td>
                            </tr>
                            <tr>
                                <td>Tipo: [[${queijo.tipo}]]</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="bott">

                    <div id="unid">
                        <button type="submit" id="menos">-</button>

                        <input type="number" readonly value="10">

                        <button type="submit" id="mais">+</button>

                    </div>

                    <form th:action="@{/DeletarProduto/{id}/{tipo}(id=${produto.tipo_do_produto},tipo=${produto.id})}"
                        th:method="post" class="formBtn">
                        <button type="submit" id="comprar">Deletar Produto</button>
                    </form>

                    <form action="" class="formBtn">
                        <button type="submit" id="adicionar">Adicionar ao carrinho</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>