<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificações do Produto</title>

    <link rel="stylesheet" th:href="@{/css/especificacoes.css}">
</head>

<body>

    <section>
        <div id="especificacoes">
            <img src="/img/vinho.jpg" alt="">

            <div id="container">

                <div id="informacoes">
                    <h2 id="produto">Nome do Produto</h2>
                    <h3 id="inf">Cidade, PaÍs - ano</h3>

                    <hr>

                    <p id="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim tempora eligendi amet
                        sit
                        dolores provident voluptates culpa sint ab inventore dolorem blanditiis unde, nemo voluptas
                        excepturi, ipsa dicta ut omnis.</p>

                    <table id="detalhes">
                        <tr>
                            <td>Ano: 2025</td>
                            <td>Ano: 2025</td>
                        </tr>
                        <tr>
                            <td>Cidade: Cidade</td>
                            <td>Cidade: Cidade</td>

                        </tr>
                        <tr>
                            <td>País: País</td>
                            <td>Ano: 2025</td>

                        </tr>

                        <tr>
                            <td>País: País</td>
                            <td>Ano: 2025</td>

                        </tr>
                    </table>
                </div>

                <div id="bott">

                    <div id="unid">
                        <button type="submit" id="menos">-</button>

                        <input type="number" readonly>

                        <button type="submit" id="mais">+</button>

                    </div>

                    <button type="submit" id="adicionar">Adicionar ao carrinho</button>
                    <button type="submit" id="comprar">Comprar agora</button>

                </div>
            </div>
        </div>
    </section>



</body>

</html>