<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sir. Vine - Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">

    <link rel="stylesheet" href="/Sir.Vine/src/main/resources/static/css/login.css">

</head>

<body>
    <section>
        <header>
            <div id="logo" style="display: flex;">

                <img src="/icons/servine.png" alt="">

                <p class="sir">Sir. </p>
                <p class="vine">Vines</p>
            </div>

            <ul>
                <li>Catalogo</li>
                <li>Espumantes</li>
                <li>Vinhos</li>
                <li>Queijos</li>
            </ul>

            <div id="atalhos">

                <div id="itensCar">X</div>
                <img src="/icons/lupa.svg" alt="">

                <img src="/icons/carrinho.svg" alt="">


                <img src="/icons/perfil.svg" alt="">

            </div>

        </header>

        <h1>Bem Vindo de Volta</h1>

        <div id="login">

            <div id="infLogin">
                <h2>Login</h2>
                <p>Entre com seu email e senha</p>
            </div>

            <div id="inEmail"><label for="email">Email</label>
                <input type="email" placeholder="Email" id="email" required>
            </div>

            <div id="inSenha"><label for="senha">Senha</label>
                <input type="password" placeholder="Senha" id="senha" required>
            </div>
            
            <div id="btn"><button id="btnLogin">Fazer Login</button>
                <a href="">Ainda não tem uma conta? Clique aqui</a>
            </div>
        </div>

    </section>
</body>

</html>