<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sir. Vine - Login</title>

    <link rel="stylesheet" th:href="@{/css/novoUsuario.css}">

    <link rel="stylesheet" href="/Sir.Vine/src/main/resources/static/css/novoUsuario.css">

</head>

<body>
    <section>
        <header>

            <div id="logo" style="display: flex;">
                <a href="/">

                    <img src="/icons/servine.png" alt="">

                    <p class="sir">Sir. </p>
                    <p class="vine">Vines</p>
                </a>

            </div>

            <ul>
                <li><a href="/Catalogo">Catálogo</a></li>
                <li><a href="/CatalogoEspuma">Espumantes</a></li>
                <li><a href="/CatalogoVinho">Vinhos</a></li>
                <li><a href="/CatalogoQueijo">Queijos</a></li>
            </ul>

            <div id="atalhos">

                <div id="itensCar" th:if="${usuario != null and !usuario.admin}">[[${itensCarrinho}]]</div>

                <a href="/Catalogo">
                    <img src="/icons/lupa.svg" alt="">
                </a>

                <a href="/Carrinho" th:if="${usuario != null and !usuario.admin}">
                    <img src="/icons/carrinho.svg" alt="">
                </a>

                <a th:href="@{/Perfil}">
                    <img src="/icons/perfil.svg" alt="">
                </a>

            </div>

        </header>

        <h1>Bem Vindo</h1>

        <div id="login">

            <div id="infLogin">
                <h2>Criar Conta</h2>
                <p>Registre-se com seu email e senha</p>
            </div>
            <form th:action="@{/CriarUsuario}" th:method="post" id="formNovoUsuario">
                <div id="inNome">
                    <label for="nome">Nome Completo</label>
                    <input type="text" placeholder="Nome Completo" id="nome" th:name="nome" required th:value="${nome}">
                </div>

                <div id="inCPF">
                    <label for="cpf">CPF</label>
                    <input type="text" placeholder="CPF" id="cpf" required th:name="CPF" th:value="${CPF}" maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite o CPF no formato 000.000.000-00">
                </div>

                <div id="inEmail">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" id="email" required th:name="email" th:value="${email}">
                </div>

                <div id="inSenha">
                    <label for="senha">Senha</label>
                    <input type="password" placeholder="Senha" id="senha" required th:name="senha" th:value="${senha}">
                </div>

                <div id="confSenha">
                    <label for="senha">Confirmar Senha</label>
                    <input type="password" placeholder="Senha" id="senha" required th:name="confSenha">
                </div>

                <button id="btnLogin" type="submit">Registrar-se</button>
            </form>
        </div>

    </section>
</body>

</html>