@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: #211D1C;

    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 3vw;
    object-fit: contain;
    margin-right: 1vw;
}

#logo p {
    font-size: 3rem;

    font-family: "Playfair Display", serif;
    color: transparent;

    margin: 0;
}

#logo a {
    display: flex;
}

a {
    text-decoration: none;
}

header ul {
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #d3d0ca;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;

    width: 40%;

    padding: 0;
}

ul a {
    color: #d3d0ca;
}

#atalhos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 15%;
}

#itensCar {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: #CF1232;

    position: absolute;

    top: 3%;
    right: 11.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    color: white;
}

.sir {
    background: linear-gradient(90deg, rgba(255, 223, 135, 1) 2%, rgba(255, 0, 38, 1) 15%);
    -webkit-background-clip: text;
}

.vine {
    background: linear-gradient(90deg, rgba(255, 0, 38, 1) 2%, rgba(240, 194, 88, 1) 18%);
    -webkit-background-clip: text;
}

section {
    background-color: #151413;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnExcluir,
#btnSair {
    padding: 0.94rem 2.8rem;
    text-align: center;

    background-size: 200% auto;

    border-radius: 0.62rem;

    height: 3.5vw;
    width: 100%;
    font-size: 1.2rem;

    cursor: pointer;
    font-weight: bold;

}

#btnSair {
    background-color: #EBC24A;
    color: #6C0000;
    border: solid #6C0000 1px;
}

form {
    width: 49%;
}

#btnExcluir {
    border: solid #9D7F3C 1px;
    background-image: linear-gradient(to right, #CF1232 0%, #510B17 50%);
    color: white;
}

#perfil {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 30%;
    background-color: #221817;
    box-shadow: #f0c25826 0px 0px 1vw;

    margin: 2%;
    padding: 2% 0;
}

#btns {
    width: 90%;

    display: flex;
    justify-content: space-between;
}

#perfil img {
    width: 20%;
    border: solid #d3d0ca;
    border-radius: 50%;
    padding: 2%;
}

h1 {
    font-family: "Playfair Display", serif;
    color: transparent;
    font-size: 3rem;

    background: linear-gradient(90deg, #FF3300 15%, #FFDF87 80%);
    -webkit-background-clip: text;
}

#infPerfil {
    width: 80%;
    text-align: center;
}

#infPerfil p {
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 2.3rem;
    font-family: "Playfair Display", serif;
    width: 100%;
    margin: 2% 0;

    text-transform: uppercase;
}