@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #151413;
}

img {
    width: 28vw;
    border-radius: 1rem;
}

hr {
    border: 1px white solid;
    margin: 2rem 0 2rem 0;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 260;
    margin: 0;
}

h3,
p,
table {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.detalhes {
    width: 100%;

    color: #CAC8C4;

    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;

    margin-top: 1.5rem;

    display: block;
}

.detalhes td {
    width: 50%;
}

h3 {
    color: #F0C258;
    font-weight: 350;
    font-size: 1.7rem;
}

p {
    color: #CAC8C4;
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 2rem;
}

#especificacoes {
    width: 80vw;
    display: flex;

    justify-content: space-between;
}

#bott {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#container {
    width: 64%;

    display: flex;
    flex-direction: column;

    align-content: space-between;
    justify-content: space-between;

}

#informacoes {
    height: 71%;
    background-color: #221817;
    color: white;
    padding: 3rem;

    border-radius: 1rem;
}

#adicionar,
#comprar {
    padding: 0.94rem 2.8rem;

    text-align: center;
    font-weight: bold;
    color: white;

    background-size: 200% auto;

    border-radius: 10px;

    width: 18vw;
    height: 4vw;

    font-size: 1rem;

    cursor: pointer;
}

#adicionar {
    color: white;
    border: solid #9D7F3C 1px;
    background-image: linear-gradient(to right, #CF1232 0%, #510B17 50%);
}

#comprar {
    background-color: #EBC24A;
    color: #6C0000;
    border: solid #6C0000 1px;
}

#unid {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mais,
#menos {
    width: 4vw;
    height: 4vw;
    cursor: pointer;

    font-size: 3rem;

    border-radius: 10px;
    background-color: #1B1818;
    color: white;
    border: white solid 2px;
}

#mais {
    margin-left: .5rem;
}

#menos {
    margin-right: .5rem;
}

input {
    width: 4vw;
    height: 4vw;

    cursor: default;

    background-color: rgba(255, 0, 0, 0);
    border: none;

    color: white;
    font-size: 2.5rem;

    text-align: center;
    padding-left: 5%;
}

#infPCLoc {
    display: flex;
    justify-content: space-between;
}

h4 {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    color: #ff0004;
    font-weight: bold;
    font-size: 2rem;
}